:root {
	--main-color: green;
	--main-background-color: black;
	--secondary-background-color: darkgreen;
	--transparency: rgba(0,0,0,.75);

	/** Icons. NOTE: Use unicode ('\1F517') if icon is an Emoji like 🔗. */
	--arrow-up:▲;
	--arrow-down:▼;
	--cross-close:✖;
	--github-stars:★;
	--score-stars:☆;
	--link:'\1F517';/*🔗*/

	color: var(--main-color);
	border-color: var(--main-color);
	font-family: consolas, "Courier New", Courier, Monaco, monospace;
}
a {
	color: var(--main-color);
}
pre {
	font-family: consolas, "Courier New", Courier, Monaco, monospace;
}
select {
	color: var(--main-color);
	background: transparent;
}
select>* {
	color: var(--main-color);
}
.cross-close::after {
	content: var(--cross-close);
}
