:root {
	--main-color: green;
	--main-background-color: black;
	--secondary-background-color: darkgreen;
	--transparency: rgba(0,0,0,.75);

	--arrow-up:'\25B2';/*▲*/
	--arrow-down:'\25BC';/*▼*/
	--cross-close:'\2716';/*✖*/
	--github-stars:'\2605';/*★*/
	--score-stars:'\2606';/*☆*/
	--link:'\1F517';/*🔗*/

	color: var(--main-color);
	border-color: var(--main-color);
	font-family: consolas, "Courier New", Courier, Monaco, monospace;
}
a {
	color: var(--main-color);
}
pre {
	font-family: consolas, "Courier New", Courier, Monaco, monospace;
}
select {
	color: var(--main-color);
	background: transparent;
}
select>* {
	color: var(--main-color);
}
.cross-close::after {
	content: var(--cross-close);
}
.jsoneditor-menu{
	background-color: var(--main-color);
}
.jsoneditor, .jsoneditor-menu{
	border-color: var(--main-color);
}
