.log {
	tab-size: 4;
}
.log>div {
	border: 1px solid black;
}
.log pre {
	margin-top: 0;
}
.log label {
	font-family: monospace;
}
.log label.Pending {
	color: blue;
}
.log label.FinalScore {
	color: green;
}
.log label.Aborted {
	color: red;
}
