tr{
	border: 1px solid black;
}
th{
	border: 1px solid black;
	background-color: lightgrey;
}
td{
	border: 1px solid black;
	text-align: center;
}
.cell-unused{
	border: 0 none transparent;
}
th{
	position: relative;
}
.ai-1{
	background-color: skyblue;
}
.ai-2{
	background-color: crimson;
}
.major-header{
	width: 2em;
	height: 2em;
	white-space: nowrap;
}
.rotated div{
	transform: rotate(270deg);
}
.clickable{
	cursor: pointer;
}
.sorted{
	border-color: red !important;
}
.hide{
	display: none;
}