#root {
	display: flex;
	flex-direction: row;
	border: var(--window-border);
}

#root > * {
	padding: 7px 12px;
}
#root > *:not(:first-child) {
	border-left: var(--window-border);
}

.title:not(:hover) .titleHover {
	display: none;
}
.title:hover .titleText {
	height: 0;
	visibility: hidden;
}
.title:hover .titleHover {
	display: block;
	text-decoration: none;
}

.split {
	flex-grow: 1;
}
