#root {
	display: flex;
	flex-direction: row;
	border: var(--window-border);
}

#root > * {
	padding: 7px 12px;
}
#root > *:not(:first-child) {
	border-left: var(--window-border);
}

.split {
	flex-grow: 1;
}
