@keyframes display-login {
	from {
		max-width: 0px;
	}
	to {
		max-width: 70px;
	}
}

.label {
	display: flex;
}

.currentProfileImage {
	height: 1em;
}

.logoutButton {
	cursor: pointer;
}

.logoutButtonWrapper {
	display: flex;
	overflow: hidden;
	direction: rtl;
	max-width: 0;
	float: left;
}
:hover > .label .logoutButtonWrapper {
	animation-name: display-login;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	max-width: unset;
}
